ConsoleApp/Connected Services/ServiceReference/WebAssignment1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowFileSoapIn">
    <wsdl:part name="parameters" element="tns:ShowFile" />
  </wsdl:message>
  <wsdl:message name="ShowFileSoapOut">
    <wsdl:part name="parameters" element="tns:ShowFileResponse" />
  </wsdl:message>
  <wsdl:portType name="WebAssignment1Soap">
    <wsdl:operation name="ShowFile">
      <wsdl:input message="tns:ShowFileSoapIn" />
      <wsdl:output message="tns:ShowFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebAssignment1Soap" type="tns:WebAssignment1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowFile">
      <soap:operation soapAction="http://tempuri.org/ShowFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebAssignment1Soap12" type="tns:WebAssignment1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowFile">
      <soap12:operation soapAction="http://tempuri.org/ShowFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebAssignment1">
    <wsdl:port name="WebAssignment1Soap" binding="tns:WebAssignment1Soap">
      <soap:address location="http://localhost:50484/WebAssignment1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebAssignment1Soap12" binding="tns:WebAssignment1Soap12">
      <soap12:address location="http://localhost:50484/WebAssignment1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>