ProgramKonstruktion/Web References/SqlWebReference/SqlWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://grupp2.ics.lu.se/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://grupp2.ics.lu.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://grupp2.ics.lu.se/">
      <s:element name="UpdateTenant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTenantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTenantResult" type="tns:Tenant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tenant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ssn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StorageNbr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RentDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StorageAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTenant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="storageNbr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rentDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTenantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateTenantResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTenant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTenantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTenantResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindTenant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindTenantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindTenantResult" type="tns:Tenant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nbr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateStorageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStorageResult" type="tns:Storage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Storage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nbr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteStorageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTenantFromStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTenantFromStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTenantFromStorageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindStorageResult" type="tns:Storage" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateTenantSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTenant" />
  </wsdl:message>
  <wsdl:message name="UpdateTenantSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTenantResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTenantSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTenant" />
  </wsdl:message>
  <wsdl:message name="CreateTenantSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTenantResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTenantSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTenant" />
  </wsdl:message>
  <wsdl:message name="DeleteTenantSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTenantResponse" />
  </wsdl:message>
  <wsdl:message name="FindTenantSoapIn">
    <wsdl:part name="parameters" element="tns:FindTenant" />
  </wsdl:message>
  <wsdl:message name="FindTenantSoapOut">
    <wsdl:part name="parameters" element="tns:FindTenantResponse" />
  </wsdl:message>
  <wsdl:message name="CreateStorageSoapIn">
    <wsdl:part name="parameters" element="tns:CreateStorage" />
  </wsdl:message>
  <wsdl:message name="CreateStorageSoapOut">
    <wsdl:part name="parameters" element="tns:CreateStorageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStorageSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStorage" />
  </wsdl:message>
  <wsdl:message name="UpdateStorageSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStorageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStorageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteStorage" />
  </wsdl:message>
  <wsdl:message name="DeleteStorageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStorageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTenantFromStorageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTenantFromStorage" />
  </wsdl:message>
  <wsdl:message name="DeleteTenantFromStorageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTenantFromStorageResponse" />
  </wsdl:message>
  <wsdl:message name="FindStorageSoapIn">
    <wsdl:part name="parameters" element="tns:FindStorage" />
  </wsdl:message>
  <wsdl:message name="FindStorageSoapOut">
    <wsdl:part name="parameters" element="tns:FindStorageResponse" />
  </wsdl:message>
  <wsdl:portType name="SqlWebServiceSoap">
    <wsdl:operation name="UpdateTenant">
      <wsdl:input message="tns:UpdateTenantSoapIn" />
      <wsdl:output message="tns:UpdateTenantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTenant">
      <wsdl:input message="tns:CreateTenantSoapIn" />
      <wsdl:output message="tns:CreateTenantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTenant">
      <wsdl:input message="tns:DeleteTenantSoapIn" />
      <wsdl:output message="tns:DeleteTenantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindTenant">
      <wsdl:input message="tns:FindTenantSoapIn" />
      <wsdl:output message="tns:FindTenantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateStorage">
      <wsdl:input message="tns:CreateStorageSoapIn" />
      <wsdl:output message="tns:CreateStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorage">
      <wsdl:input message="tns:UpdateStorageSoapIn" />
      <wsdl:output message="tns:UpdateStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStorage">
      <wsdl:input message="tns:DeleteStorageSoapIn" />
      <wsdl:output message="tns:DeleteStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTenantFromStorage">
      <wsdl:input message="tns:DeleteTenantFromStorageSoapIn" />
      <wsdl:output message="tns:DeleteTenantFromStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindStorage">
      <wsdl:input message="tns:FindStorageSoapIn" />
      <wsdl:output message="tns:FindStorageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SqlWebServiceSoap" type="tns:SqlWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateTenant">
      <soap:operation soapAction="http://grupp2.ics.lu.se/UpdateTenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTenant">
      <soap:operation soapAction="http://grupp2.ics.lu.se/CreateTenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTenant">
      <soap:operation soapAction="http://grupp2.ics.lu.se/DeleteTenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTenant">
      <soap:operation soapAction="http://grupp2.ics.lu.se/FindTenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStorage">
      <soap:operation soapAction="http://grupp2.ics.lu.se/CreateStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorage">
      <soap:operation soapAction="http://grupp2.ics.lu.se/UpdateStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStorage">
      <soap:operation soapAction="http://grupp2.ics.lu.se/DeleteStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTenantFromStorage">
      <soap:operation soapAction="http://grupp2.ics.lu.se/DeleteTenantFromStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStorage">
      <soap:operation soapAction="http://grupp2.ics.lu.se/FindStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SqlWebServiceSoap12" type="tns:SqlWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateTenant">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/UpdateTenant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTenant">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/CreateTenant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTenant">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/DeleteTenant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTenant">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/FindTenant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStorage">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/CreateStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorage">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/UpdateStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStorage">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/DeleteStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTenantFromStorage">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/DeleteTenantFromStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStorage">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/FindStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlWebService">
    <wsdl:port name="SqlWebServiceSoap" binding="tns:SqlWebServiceSoap">
      <soap:address location="http://localhost/SqlWebApplication/SqlWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SqlWebServiceSoap12" binding="tns:SqlWebServiceSoap12">
      <soap12:address location="http://localhost/SqlWebApplication/SqlWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>