ProgramKonstruktion/Connected Services/SqlServiceReference/sqlWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://grupp2.ics.lu.se/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://grupp2.ics.lu.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://grupp2.ics.lu.se/">
      <s:element name="GetTenantBookings">
        <s:complexType />
      </s:element>
      <s:element name="GetTenantBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTenantBookingsResult" type="tns:ArrayOfTenant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTenant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tenant" nillable="true" type="tns:Tenant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tenant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ssn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StorageNbr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RentDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StorageAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ShowAllBookings">
        <s:complexType />
      </s:element>
      <s:element name="ShowAllBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowAllBookingsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfStorages">
        <s:complexType />
      </s:element>
      <s:element name="GetListOfStoragesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfStoragesResult" type="tns:ArrayOfStorage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStorage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Storage" nillable="true" type="tns:Storage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Storage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nbr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindStorageResult" type="tns:Storage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowAllStorages">
        <s:complexType />
      </s:element>
      <s:element name="ShowAllStoragesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowAllStoragesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTenantBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTenantBookings" />
  </wsdl:message>
  <wsdl:message name="GetTenantBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTenantBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="ShowAllBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:ShowAllBookings" />
  </wsdl:message>
  <wsdl:message name="ShowAllBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:ShowAllBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetListOfStoragesSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfStorages" />
  </wsdl:message>
  <wsdl:message name="GetListOfStoragesSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfStoragesResponse" />
  </wsdl:message>
  <wsdl:message name="FindStorageSoapIn">
    <wsdl:part name="parameters" element="tns:FindStorage" />
  </wsdl:message>
  <wsdl:message name="FindStorageSoapOut">
    <wsdl:part name="parameters" element="tns:FindStorageResponse" />
  </wsdl:message>
  <wsdl:message name="ShowAllStoragesSoapIn">
    <wsdl:part name="parameters" element="tns:ShowAllStorages" />
  </wsdl:message>
  <wsdl:message name="ShowAllStoragesSoapOut">
    <wsdl:part name="parameters" element="tns:ShowAllStoragesResponse" />
  </wsdl:message>
  <wsdl:portType name="SqlWebServiceSoap">
    <wsdl:operation name="GetTenantBookings">
      <wsdl:input message="tns:GetTenantBookingsSoapIn" />
      <wsdl:output message="tns:GetTenantBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllBookings">
      <wsdl:input message="tns:ShowAllBookingsSoapIn" />
      <wsdl:output message="tns:ShowAllBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfStorages">
      <wsdl:input message="tns:GetListOfStoragesSoapIn" />
      <wsdl:output message="tns:GetListOfStoragesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindStorage">
      <wsdl:input message="tns:FindStorageSoapIn" />
      <wsdl:output message="tns:FindStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllStorages">
      <wsdl:input message="tns:ShowAllStoragesSoapIn" />
      <wsdl:output message="tns:ShowAllStoragesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SqlWebServiceSoap" type="tns:SqlWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTenantBookings">
      <soap:operation soapAction="http://grupp2.ics.lu.se/GetTenantBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllBookings">
      <soap:operation soapAction="http://grupp2.ics.lu.se/ShowAllBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfStorages">
      <soap:operation soapAction="http://grupp2.ics.lu.se/GetListOfStorages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStorage">
      <soap:operation soapAction="http://grupp2.ics.lu.se/FindStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllStorages">
      <soap:operation soapAction="http://grupp2.ics.lu.se/ShowAllStorages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SqlWebServiceSoap12" type="tns:SqlWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTenantBookings">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/GetTenantBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllBookings">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/ShowAllBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfStorages">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/GetListOfStorages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStorage">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/FindStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllStorages">
      <soap12:operation soapAction="http://grupp2.ics.lu.se/ShowAllStorages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlWebService">
    <wsdl:port name="SqlWebServiceSoap" binding="tns:SqlWebServiceSoap">
      <soap:address location="http://localhost/SqlWebApplication/sqlWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SqlWebServiceSoap12" binding="tns:SqlWebServiceSoap12">
      <soap12:address location="http://localhost/SqlWebApplication/sqlWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>